{% extends "layout/layout.twig" %}

{% block body %}

<section class="section" style="margin-top:100px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <h1>About</h1>
                <h3>Description</h3>
                <p>Short link allows to create short and memorable urls to send links between your devices.</p>
                <p>Generated links have a life of 60 minutes. They are then permanently deleted.</p>
                <h3>Built with:</h3>
                <ul>
                    <li>Slim 3 framework</li>
                    <li>Twig template engine</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
        </div>
    </div>
</section>

    

{% endblock body %}